.library {
    margin-left: 200px;
    width: 800px;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
}

h2 {
    width: 100%;
    flex-basis: 100%;
}

.book {
    min-height: 150px;
    width: 250px;
    margin: 5px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book span {
    margin: 7px;
}

.book:hover {
    box-shadow: inset 0 0 6px;
}

.title {
    font-size: 1.1em;
    font-weight: 600;
}

.author {
    font-style: italic;
}

.read {
    padding: 3px;
    border-style: solid;
    border-color: green;
    border-width: 1px;
}

.new-book {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book {
    width: 30px;
    border: solid;
    padding: 10px;
    border-radius: 50%;
    border-color: black;
}

#book-info {
    width: 230px;
}

#book-info fieldset {
    background-color: yellowgreen;
}

#book-info legend {
    background-color: orange;
}

#book-info input {
    margin: 5px;
}

select {
    margin: 7px;
}

.hidden {
    visibility: hidden;
}